body {
  font-family: 'Times New Roman', Times, serif;
  background-color: bisque;
  margin: 0%;
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: azure;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.form {
  text-align: center;
  width: 100px; 
  height: 100px; 
}

.button {
  color: brown;
}